*{
    margin: 0;
    padding: 0;
}

/********************* home.html ***************/

/* navbar style when logoff */
nav {
    background-color: rgb(75, 119, 240);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 30px; */
}

nav div:nth-child(2) a{
    color: white;
    text-decoration: none;
}

.contact-us a:hover {
    text-decoration: underline;
}

.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
}


footer {
    background-color: rgb(75, 119, 240);
    display: flex;
    justify-content: center;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    /* bottom: 360px; incase footer not visible*/
    width: 100%;
}


.login-btn, .btn-back button,
.user-table button,
.reschedule-btn,
.cancel-btn,
.back-btn {
    border: none;
    background-color: #e86127;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 3px;
    /* cursor: pointer; */
    /* pointer-events: none; */
}


.login-link, .btn-back a,
.user-table a,
.reschedule-btn a,
.cancel-btn a,
.back-btn a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}


/********************* login_user.html ***************/


.section-login-form{
    display: flex;
    justify-content: center;
    height: 60vh;
}

.login-form {   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.form-heading{
    margin: 20px;
}


.input-field input{
    width: 180px;
    height: 30px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: 5px;
}

input-field label{
    color:  grey;
    background-color: #e86127;
}

/********************* user_home.html ***************/

.user-navbar{
    display: flex;
    justify-content: space-evenly;
    z-index: 1;
    position: relative;
}

.user-navlinks{
    display: flex;
    flex-grow: 1;
}

.user-navlinks a{
    text-decoration: none;
    color: white;
    
}
.user-navlinks li {
    list-style: none;
}

.navfront{
display: flex;
justify-content:space-around ;
flex-grow: 1;    
}

.navlast{
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
}

.navfront a:hover, .navlast a:hover{
    text-decoration: underline;
}

/********************* user_profile.html ***************/

.user-table,
.user-table th,
.user-table td{
    border: 2px solid grey;
}

.user-table{
    margin: 0 auto;
    width: 70%;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 50px;
}

.user-table td img{
    border-radius: 50px;
}

.user-profile-main{
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.user-profile-info{
    border: 1px solid grey;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;  
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-profile-pic img{
    border-radius: 60px;
}

.user-profile-pic{
    margin-right: 20px;
   
}

.user-profile-table td{
    line-height: 30px;
}

.btn-back{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.btn-back  button{
    height: 35px;
}

.user-profile-details {
    display: flex;
    flex-direction: column;
    line-height: 40px;
    align-items: center;
}

.user-profile-details tr td:nth-child(2){
    padding-left: 10px;
}

/********************* myappointments.html ***************/

.appointment-details{
    /* margin-top: 10%;
    margin-bottom: 10%; */
    display: flex;
    justify-content: center;   
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
    height: 85vh;
    
}

.appointment-details table, 
.appointment-details td, 
.appointment-details tr{
    border: 2px solid rgb(199, 193, 193);
    border-collapse: collapse;
}

.appointment-details td:nth-child(1){
    text-align: left;
    padding-top: 8px;
    padding-left: 5px;
    padding-right: 10px;
    padding-bottom: 8px;
    line-height: 28px;
}

.appointment-details td:nth-child(2){
    text-align: left;
    padding-top: 8px;
    padding-left: 5px;
    padding-right: 10px;
    padding-bottom: 8px;
    line-height: 28px;
}
.appointment-details table{
    margin: 20px 0px;
}

.reschedule-btn,
.cancel-btn,
.back-btn{

}